EProc_On_Metronic/Web References/WebRef/eprocurement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/eprocurement" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/eprocurement" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/eprocurement" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="FnRegisterVendor">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="supplierCategory" type="string" />
            <element minOccurs="1" maxOccurs="1" name="country" type="string" />
            <element minOccurs="1" maxOccurs="1" name="postAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="postCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="phoneNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="emailAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="kraPin" type="string" />
            <element minOccurs="1" maxOccurs="1" name="taxCompliance" type="string" />
            <element minOccurs="1" maxOccurs="1" name="password" type="string" />
            <element minOccurs="1" maxOccurs="1" name="confirmPassword" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnRegisterVendor_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ResetPass">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="emailAddress" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ResetPass_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnApplyPreQualification">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="contactNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="supplierCategory" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnApplyPreQualification_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetCurrentYear">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetCurrentYear_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnApplyRFQ">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="contactNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="quantity" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="amount" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="rfqNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnApplyRFQ_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ApplyRFQOLD">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="contactNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="password" type="string" />
            <element minOccurs="1" maxOccurs="1" name="quantity" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="amount" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="rfqNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ApplyRFQOLD_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="SendEmail">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="recipient" type="string" />
            <element minOccurs="1" maxOccurs="1" name="title" type="string" />
            <element minOccurs="1" maxOccurs="1" name="message" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="SendEmail_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="ActivateAccount">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="userCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="key" type="string" />
            <element minOccurs="1" maxOccurs="1" name="password" type="string" />
            <element minOccurs="1" maxOccurs="1" name="confirmpassword" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ActivateAccount_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnAddDirectors">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="contactNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="directorFullname" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnAddDirectors_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnApplyforTender">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="tenderNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnApplyforTender_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnCountOpenTenders">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="FnCountOpenTenders_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="FnCountAppliedTenders">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnCountAppliedTenders_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="FnCountTendersAwarded">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnCountTendersAwarded_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="FnApplyforOpenTender">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="tenderNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="amount" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="contactNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnApplyforOpenTender_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertBlog">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="blogTitle" type="string" />
            <element minOccurs="1" maxOccurs="1" name="blogBody" type="string" />
            <element minOccurs="1" maxOccurs="1" name="dirNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="dirName" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertBlog_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertBlogReply">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="blogReply" type="string" />
            <element minOccurs="1" maxOccurs="1" name="dirNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="dirName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="blogId" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertBlogReply_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnChangePassword">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="customerNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="currentPassword" type="string" />
            <element minOccurs="1" maxOccurs="1" name="newPassword" type="string" />
            <element minOccurs="1" maxOccurs="1" name="confirmNewPassword" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnChangePassword_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnEditProfile">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
            <element minOccurs="1" maxOccurs="1" name="fullname" type="string" />
            <element minOccurs="1" maxOccurs="1" name="kraPin" type="string" />
            <element minOccurs="1" maxOccurs="1" name="taxtPin" type="string" />
            <element minOccurs="1" maxOccurs="1" name="phoneNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnEditProfile_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnResetPassword">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
            <element minOccurs="1" maxOccurs="1" name="newPassword" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnResetPassword_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnGenerateVendorstatement">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="startDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="endDate" type="date" />
          </sequence>
        </complexType>
      </element>
      <element name="FnGenerateVendorstatement_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnGenerateRfQDocument">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="rfQNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnGenerateRfQDocument_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnAddPurchaseReqLine">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="reqNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="itemNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="quantity" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="unitPrice" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="lineNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="type" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="FnAddPurchaseReqLine_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnRegisterVendorInd">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="registeredName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="phoneNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="emailAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="kraPin" type="string" />
            <element minOccurs="1" maxOccurs="1" name="contactName" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnRegisterVendorInd_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnBLOBRfQDocument">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorname" type="string" />
            <element minOccurs="1" maxOccurs="1" name="rFQNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="bigText" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnBLOBRfQDocument_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="bigText" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnDownloadRfQPTDoc">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="FnDownloadRfQPTDoc_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="FnSupplierRegistration">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="businessType" type="int" />
            <element minOccurs="1" maxOccurs="1" name="vendorType" type="int" />
            <element minOccurs="1" maxOccurs="1" name="ownershipType" type="int" />
            <element minOccurs="1" maxOccurs="1" name="industryGroup" type="string" />
            <element minOccurs="1" maxOccurs="1" name="postacode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="countryofOrigin" type="string" />
            <element minOccurs="1" maxOccurs="1" name="companysize" type="string" />
            <element minOccurs="1" maxOccurs="1" name="nominalCap" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="dealerType" type="int" />
            <element minOccurs="1" maxOccurs="1" name="dateofIncorporation" type="date" />
            <element minOccurs="1" maxOccurs="1" name="dateofOps" type="date" />
            <element minOccurs="1" maxOccurs="1" name="languageCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="vision" type="string" />
            <element minOccurs="1" maxOccurs="1" name="mision" type="string" />
            <element minOccurs="1" maxOccurs="1" name="poAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="locationAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="postaCity" type="string" />
            <element minOccurs="1" maxOccurs="1" name="webUrl" type="string" />
            <element minOccurs="1" maxOccurs="1" name="telephoneNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="buildingNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="floorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="plotNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="streetorRoad" type="string" />
            <element minOccurs="1" maxOccurs="1" name="faxNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="maxbizvalue" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="mobileNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="natureofBiz" type="string" />
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="certofIncopNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnSupplierRegistration_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertBank">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="bankCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="bankName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="currencyCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="bankAccountNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertBank_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnDeleteBank">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="bankCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="bankName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="currencyCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="bankAccountNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnDeleteBank_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertDirector">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="phoneNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="ownershippercentage" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="country" type="string" />
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
            <element minOccurs="1" maxOccurs="1" name="address" type="string" />
            <element minOccurs="1" maxOccurs="1" name="directorFullname" type="string" />
            <element minOccurs="1" maxOccurs="1" name="idNumber" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertDirector_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="FnRegisterVendor">
    <part name="parameters" element="tns:FnRegisterVendor" />
  </message>
  <message name="FnRegisterVendor_Result">
    <part name="parameters" element="tns:FnRegisterVendor_Result" />
  </message>
  <message name="ResetPass">
    <part name="parameters" element="tns:ResetPass" />
  </message>
  <message name="ResetPass_Result">
    <part name="parameters" element="tns:ResetPass_Result" />
  </message>
  <message name="FnApplyPreQualification">
    <part name="parameters" element="tns:FnApplyPreQualification" />
  </message>
  <message name="FnApplyPreQualification_Result">
    <part name="parameters" element="tns:FnApplyPreQualification_Result" />
  </message>
  <message name="GetCurrentYear">
    <part name="parameters" element="tns:GetCurrentYear" />
  </message>
  <message name="GetCurrentYear_Result">
    <part name="parameters" element="tns:GetCurrentYear_Result" />
  </message>
  <message name="FnApplyRFQ">
    <part name="parameters" element="tns:FnApplyRFQ" />
  </message>
  <message name="FnApplyRFQ_Result">
    <part name="parameters" element="tns:FnApplyRFQ_Result" />
  </message>
  <message name="ApplyRFQOLD">
    <part name="parameters" element="tns:ApplyRFQOLD" />
  </message>
  <message name="ApplyRFQOLD_Result">
    <part name="parameters" element="tns:ApplyRFQOLD_Result" />
  </message>
  <message name="SendEmail">
    <part name="parameters" element="tns:SendEmail" />
  </message>
  <message name="SendEmail_Result">
    <part name="parameters" element="tns:SendEmail_Result" />
  </message>
  <message name="ActivateAccount">
    <part name="parameters" element="tns:ActivateAccount" />
  </message>
  <message name="ActivateAccount_Result">
    <part name="parameters" element="tns:ActivateAccount_Result" />
  </message>
  <message name="FnAddDirectors">
    <part name="parameters" element="tns:FnAddDirectors" />
  </message>
  <message name="FnAddDirectors_Result">
    <part name="parameters" element="tns:FnAddDirectors_Result" />
  </message>
  <message name="FnApplyforTender">
    <part name="parameters" element="tns:FnApplyforTender" />
  </message>
  <message name="FnApplyforTender_Result">
    <part name="parameters" element="tns:FnApplyforTender_Result" />
  </message>
  <message name="FnCountOpenTenders">
    <part name="parameters" element="tns:FnCountOpenTenders" />
  </message>
  <message name="FnCountOpenTenders_Result">
    <part name="parameters" element="tns:FnCountOpenTenders_Result" />
  </message>
  <message name="FnCountAppliedTenders">
    <part name="parameters" element="tns:FnCountAppliedTenders" />
  </message>
  <message name="FnCountAppliedTenders_Result">
    <part name="parameters" element="tns:FnCountAppliedTenders_Result" />
  </message>
  <message name="FnCountTendersAwarded">
    <part name="parameters" element="tns:FnCountTendersAwarded" />
  </message>
  <message name="FnCountTendersAwarded_Result">
    <part name="parameters" element="tns:FnCountTendersAwarded_Result" />
  </message>
  <message name="FnApplyforOpenTender">
    <part name="parameters" element="tns:FnApplyforOpenTender" />
  </message>
  <message name="FnApplyforOpenTender_Result">
    <part name="parameters" element="tns:FnApplyforOpenTender_Result" />
  </message>
  <message name="FnInsertBlog">
    <part name="parameters" element="tns:FnInsertBlog" />
  </message>
  <message name="FnInsertBlog_Result">
    <part name="parameters" element="tns:FnInsertBlog_Result" />
  </message>
  <message name="FnInsertBlogReply">
    <part name="parameters" element="tns:FnInsertBlogReply" />
  </message>
  <message name="FnInsertBlogReply_Result">
    <part name="parameters" element="tns:FnInsertBlogReply_Result" />
  </message>
  <message name="FnChangePassword">
    <part name="parameters" element="tns:FnChangePassword" />
  </message>
  <message name="FnChangePassword_Result">
    <part name="parameters" element="tns:FnChangePassword_Result" />
  </message>
  <message name="FnEditProfile">
    <part name="parameters" element="tns:FnEditProfile" />
  </message>
  <message name="FnEditProfile_Result">
    <part name="parameters" element="tns:FnEditProfile_Result" />
  </message>
  <message name="FnResetPassword">
    <part name="parameters" element="tns:FnResetPassword" />
  </message>
  <message name="FnResetPassword_Result">
    <part name="parameters" element="tns:FnResetPassword_Result" />
  </message>
  <message name="FnGenerateVendorstatement">
    <part name="parameters" element="tns:FnGenerateVendorstatement" />
  </message>
  <message name="FnGenerateVendorstatement_Result">
    <part name="parameters" element="tns:FnGenerateVendorstatement_Result" />
  </message>
  <message name="FnGenerateRfQDocument">
    <part name="parameters" element="tns:FnGenerateRfQDocument" />
  </message>
  <message name="FnGenerateRfQDocument_Result">
    <part name="parameters" element="tns:FnGenerateRfQDocument_Result" />
  </message>
  <message name="FnAddPurchaseReqLine">
    <part name="parameters" element="tns:FnAddPurchaseReqLine" />
  </message>
  <message name="FnAddPurchaseReqLine_Result">
    <part name="parameters" element="tns:FnAddPurchaseReqLine_Result" />
  </message>
  <message name="FnRegisterVendorInd">
    <part name="parameters" element="tns:FnRegisterVendorInd" />
  </message>
  <message name="FnRegisterVendorInd_Result">
    <part name="parameters" element="tns:FnRegisterVendorInd_Result" />
  </message>
  <message name="FnBLOBRfQDocument">
    <part name="parameters" element="tns:FnBLOBRfQDocument" />
  </message>
  <message name="FnBLOBRfQDocument_Result">
    <part name="parameters" element="tns:FnBLOBRfQDocument_Result" />
  </message>
  <message name="FnDownloadRfQPTDoc">
    <part name="parameters" element="tns:FnDownloadRfQPTDoc" />
  </message>
  <message name="FnDownloadRfQPTDoc_Result">
    <part name="parameters" element="tns:FnDownloadRfQPTDoc_Result" />
  </message>
  <message name="FnSupplierRegistration">
    <part name="parameters" element="tns:FnSupplierRegistration" />
  </message>
  <message name="FnSupplierRegistration_Result">
    <part name="parameters" element="tns:FnSupplierRegistration_Result" />
  </message>
  <message name="FnInsertBank">
    <part name="parameters" element="tns:FnInsertBank" />
  </message>
  <message name="FnInsertBank_Result">
    <part name="parameters" element="tns:FnInsertBank_Result" />
  </message>
  <message name="FnDeleteBank">
    <part name="parameters" element="tns:FnDeleteBank" />
  </message>
  <message name="FnDeleteBank_Result">
    <part name="parameters" element="tns:FnDeleteBank_Result" />
  </message>
  <message name="FnInsertDirector">
    <part name="parameters" element="tns:FnInsertDirector" />
  </message>
  <message name="FnInsertDirector_Result">
    <part name="parameters" element="tns:FnInsertDirector_Result" />
  </message>
  <portType name="eprocurement_Port">
    <operation name="FnRegisterVendor">
      <input name="FnRegisterVendor" message="tns:FnRegisterVendor" />
      <output name="FnRegisterVendor_Result" message="tns:FnRegisterVendor_Result" />
    </operation>
    <operation name="ResetPass">
      <input name="ResetPass" message="tns:ResetPass" />
      <output name="ResetPass_Result" message="tns:ResetPass_Result" />
    </operation>
    <operation name="FnApplyPreQualification">
      <input name="FnApplyPreQualification" message="tns:FnApplyPreQualification" />
      <output name="FnApplyPreQualification_Result" message="tns:FnApplyPreQualification_Result" />
    </operation>
    <operation name="GetCurrentYear">
      <input name="GetCurrentYear" message="tns:GetCurrentYear" />
      <output name="GetCurrentYear_Result" message="tns:GetCurrentYear_Result" />
    </operation>
    <operation name="FnApplyRFQ">
      <input name="FnApplyRFQ" message="tns:FnApplyRFQ" />
      <output name="FnApplyRFQ_Result" message="tns:FnApplyRFQ_Result" />
    </operation>
    <operation name="ApplyRFQOLD">
      <input name="ApplyRFQOLD" message="tns:ApplyRFQOLD" />
      <output name="ApplyRFQOLD_Result" message="tns:ApplyRFQOLD_Result" />
    </operation>
    <operation name="SendEmail">
      <input name="SendEmail" message="tns:SendEmail" />
      <output name="SendEmail_Result" message="tns:SendEmail_Result" />
    </operation>
    <operation name="ActivateAccount">
      <input name="ActivateAccount" message="tns:ActivateAccount" />
      <output name="ActivateAccount_Result" message="tns:ActivateAccount_Result" />
    </operation>
    <operation name="FnAddDirectors">
      <input name="FnAddDirectors" message="tns:FnAddDirectors" />
      <output name="FnAddDirectors_Result" message="tns:FnAddDirectors_Result" />
    </operation>
    <operation name="FnApplyforTender">
      <input name="FnApplyforTender" message="tns:FnApplyforTender" />
      <output name="FnApplyforTender_Result" message="tns:FnApplyforTender_Result" />
    </operation>
    <operation name="FnCountOpenTenders">
      <input name="FnCountOpenTenders" message="tns:FnCountOpenTenders" />
      <output name="FnCountOpenTenders_Result" message="tns:FnCountOpenTenders_Result" />
    </operation>
    <operation name="FnCountAppliedTenders">
      <input name="FnCountAppliedTenders" message="tns:FnCountAppliedTenders" />
      <output name="FnCountAppliedTenders_Result" message="tns:FnCountAppliedTenders_Result" />
    </operation>
    <operation name="FnCountTendersAwarded">
      <input name="FnCountTendersAwarded" message="tns:FnCountTendersAwarded" />
      <output name="FnCountTendersAwarded_Result" message="tns:FnCountTendersAwarded_Result" />
    </operation>
    <operation name="FnApplyforOpenTender">
      <input name="FnApplyforOpenTender" message="tns:FnApplyforOpenTender" />
      <output name="FnApplyforOpenTender_Result" message="tns:FnApplyforOpenTender_Result" />
    </operation>
    <operation name="FnInsertBlog">
      <input name="FnInsertBlog" message="tns:FnInsertBlog" />
      <output name="FnInsertBlog_Result" message="tns:FnInsertBlog_Result" />
    </operation>
    <operation name="FnInsertBlogReply">
      <input name="FnInsertBlogReply" message="tns:FnInsertBlogReply" />
      <output name="FnInsertBlogReply_Result" message="tns:FnInsertBlogReply_Result" />
    </operation>
    <operation name="FnChangePassword">
      <input name="FnChangePassword" message="tns:FnChangePassword" />
      <output name="FnChangePassword_Result" message="tns:FnChangePassword_Result" />
    </operation>
    <operation name="FnEditProfile">
      <input name="FnEditProfile" message="tns:FnEditProfile" />
      <output name="FnEditProfile_Result" message="tns:FnEditProfile_Result" />
    </operation>
    <operation name="FnResetPassword">
      <input name="FnResetPassword" message="tns:FnResetPassword" />
      <output name="FnResetPassword_Result" message="tns:FnResetPassword_Result" />
    </operation>
    <operation name="FnGenerateVendorstatement">
      <input name="FnGenerateVendorstatement" message="tns:FnGenerateVendorstatement" />
      <output name="FnGenerateVendorstatement_Result" message="tns:FnGenerateVendorstatement_Result" />
    </operation>
    <operation name="FnGenerateRfQDocument">
      <input name="FnGenerateRfQDocument" message="tns:FnGenerateRfQDocument" />
      <output name="FnGenerateRfQDocument_Result" message="tns:FnGenerateRfQDocument_Result" />
    </operation>
    <operation name="FnAddPurchaseReqLine">
      <input name="FnAddPurchaseReqLine" message="tns:FnAddPurchaseReqLine" />
      <output name="FnAddPurchaseReqLine_Result" message="tns:FnAddPurchaseReqLine_Result" />
    </operation>
    <operation name="FnRegisterVendorInd">
      <input name="FnRegisterVendorInd" message="tns:FnRegisterVendorInd" />
      <output name="FnRegisterVendorInd_Result" message="tns:FnRegisterVendorInd_Result" />
    </operation>
    <operation name="FnBLOBRfQDocument">
      <input name="FnBLOBRfQDocument" message="tns:FnBLOBRfQDocument" />
      <output name="FnBLOBRfQDocument_Result" message="tns:FnBLOBRfQDocument_Result" />
    </operation>
    <operation name="FnDownloadRfQPTDoc">
      <input name="FnDownloadRfQPTDoc" message="tns:FnDownloadRfQPTDoc" />
      <output name="FnDownloadRfQPTDoc_Result" message="tns:FnDownloadRfQPTDoc_Result" />
    </operation>
    <operation name="FnSupplierRegistration">
      <input name="FnSupplierRegistration" message="tns:FnSupplierRegistration" />
      <output name="FnSupplierRegistration_Result" message="tns:FnSupplierRegistration_Result" />
    </operation>
    <operation name="FnInsertBank">
      <input name="FnInsertBank" message="tns:FnInsertBank" />
      <output name="FnInsertBank_Result" message="tns:FnInsertBank_Result" />
    </operation>
    <operation name="FnDeleteBank">
      <input name="FnDeleteBank" message="tns:FnDeleteBank" />
      <output name="FnDeleteBank_Result" message="tns:FnDeleteBank_Result" />
    </operation>
    <operation name="FnInsertDirector">
      <input name="FnInsertDirector" message="tns:FnInsertDirector" />
      <output name="FnInsertDirector_Result" message="tns:FnInsertDirector_Result" />
    </operation>
  </portType>
  <binding name="eprocurement_Binding" type="tns:eprocurement_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="FnRegisterVendor">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnRegisterVendor" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnRegisterVendor">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnRegisterVendor_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ResetPass">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:ResetPass" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ResetPass">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ResetPass_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnApplyPreQualification">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnApplyPreQualification" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnApplyPreQualification">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnApplyPreQualification_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetCurrentYear">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:GetCurrentYear" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetCurrentYear">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetCurrentYear_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnApplyRFQ">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnApplyRFQ" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnApplyRFQ">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnApplyRFQ_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ApplyRFQOLD">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:ApplyRFQOLD" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ApplyRFQOLD">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ApplyRFQOLD_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SendEmail">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:SendEmail" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SendEmail">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SendEmail_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ActivateAccount">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:ActivateAccount" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ActivateAccount">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ActivateAccount_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnAddDirectors">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnAddDirectors" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnAddDirectors">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnAddDirectors_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnApplyforTender">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnApplyforTender" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnApplyforTender">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnApplyforTender_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnCountOpenTenders">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnCountOpenTenders" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnCountOpenTenders">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnCountOpenTenders_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnCountAppliedTenders">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnCountAppliedTenders" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnCountAppliedTenders">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnCountAppliedTenders_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnCountTendersAwarded">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnCountTendersAwarded" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnCountTendersAwarded">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnCountTendersAwarded_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnApplyforOpenTender">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnApplyforOpenTender" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnApplyforOpenTender">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnApplyforOpenTender_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertBlog">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnInsertBlog" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertBlog">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertBlog_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertBlogReply">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnInsertBlogReply" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertBlogReply">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertBlogReply_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnChangePassword">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnChangePassword" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnChangePassword">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnChangePassword_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnEditProfile">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnEditProfile" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnEditProfile">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnEditProfile_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnResetPassword">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnResetPassword" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnResetPassword">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnResetPassword_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnGenerateVendorstatement">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnGenerateVendorstatement" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnGenerateVendorstatement">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnGenerateVendorstatement_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnGenerateRfQDocument">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnGenerateRfQDocument" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnGenerateRfQDocument">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnGenerateRfQDocument_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnAddPurchaseReqLine">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnAddPurchaseReqLine" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnAddPurchaseReqLine">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnAddPurchaseReqLine_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnRegisterVendorInd">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnRegisterVendorInd" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnRegisterVendorInd">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnRegisterVendorInd_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnBLOBRfQDocument">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnBLOBRfQDocument" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnBLOBRfQDocument">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnBLOBRfQDocument_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnDownloadRfQPTDoc">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnDownloadRfQPTDoc" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnDownloadRfQPTDoc">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnDownloadRfQPTDoc_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnSupplierRegistration">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnSupplierRegistration" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnSupplierRegistration">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnSupplierRegistration_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertBank">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnInsertBank" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertBank">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertBank_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnDeleteBank">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnDeleteBank" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnDeleteBank">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnDeleteBank_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertDirector">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnInsertDirector" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertDirector">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertDirector_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="eprocurement">
    <port name="eprocurement_Port" binding="tns:eprocurement_Binding">
      <address location="http://197.155.64.54:2023/Dev/WS/KeRRA/Codeunit/eprocurement" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>