EProc_On_Metronic/Web References/WebRef/eprocurement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/eprocurement" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/eprocurement" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/eprocurement" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="FnRegisterVendor">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="supplierCategory" type="string" />
            <element minOccurs="1" maxOccurs="1" name="country" type="string" />
            <element minOccurs="1" maxOccurs="1" name="postAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="postCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="phoneNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="emailAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="kraPin" type="string" />
            <element minOccurs="1" maxOccurs="1" name="taxCompliance" type="string" />
            <element minOccurs="1" maxOccurs="1" name="password" type="string" />
            <element minOccurs="1" maxOccurs="1" name="confirmPassword" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnRegisterVendor_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ResetPass">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="emailAddress" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ResetPass_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnApplyPreQualification">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="contactNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="supplierCategory" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnApplyPreQualification_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="GetCurrentYear">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="GetCurrentYear_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnApplyRFQ">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="contactNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="quantity" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="amount" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="rfqNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnApplyRFQ_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ApplyRFQOLD">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="contactNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="password" type="string" />
            <element minOccurs="1" maxOccurs="1" name="quantity" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="amount" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="rfqNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ApplyRFQOLD_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="SendEmail">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="recipient" type="string" />
            <element minOccurs="1" maxOccurs="1" name="title" type="string" />
            <element minOccurs="1" maxOccurs="1" name="message" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="SendEmail_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="ActivateAccount">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="userCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="key" type="string" />
            <element minOccurs="1" maxOccurs="1" name="password" type="string" />
            <element minOccurs="1" maxOccurs="1" name="confirmpassword" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="ActivateAccount_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnAddDirectors">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="contactNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="directorFullname" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnAddDirectors_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnApplyforTender">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="tenderNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnApplyforTender_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnCountOpenTenders">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="FnCountOpenTenders_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="FnCountAppliedTenders">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnCountAppliedTenders_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="FnCountTendersAwarded">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnCountTendersAwarded_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="FnApplyforOpenTender">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="tenderNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="amount" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="contactNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnApplyforOpenTender_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertBlog">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="blogTitle" type="string" />
            <element minOccurs="1" maxOccurs="1" name="blogBody" type="string" />
            <element minOccurs="1" maxOccurs="1" name="dirNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="dirName" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertBlog_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertBlogReply">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="blogReply" type="string" />
            <element minOccurs="1" maxOccurs="1" name="dirNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="dirName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="blogId" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertBlogReply_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnChangePassword">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="customerNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="currentPassword" type="string" />
            <element minOccurs="1" maxOccurs="1" name="newPassword" type="string" />
            <element minOccurs="1" maxOccurs="1" name="confirmNewPassword" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnChangePassword_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnEditProfile">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
            <element minOccurs="1" maxOccurs="1" name="fullname" type="string" />
            <element minOccurs="1" maxOccurs="1" name="kraPin" type="string" />
            <element minOccurs="1" maxOccurs="1" name="taxtPin" type="string" />
            <element minOccurs="1" maxOccurs="1" name="phoneNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnEditProfile_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnResetPassword">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
            <element minOccurs="1" maxOccurs="1" name="newPassword" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnResetPassword_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnGenerateVendorstatement">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="startDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="endDate" type="date" />
          </sequence>
        </complexType>
      </element>
      <element name="FnGenerateVendorstatement_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnGenerateRfQDocument">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="rfQNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnGenerateRfQDocument_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnAddPurchaseReqLine">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="reqNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="itemNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="quantity" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="unitPrice" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="lineNo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="type" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="FnAddPurchaseReqLine_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnReqforRegistration">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="registeredBusinessName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="phoneNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="emailAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="taxRegkraPin" type="string" />
            <element minOccurs="1" maxOccurs="1" name="contactName" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnReqforRegistration_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnBLOBRfQDocument">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorname" type="string" />
            <element minOccurs="1" maxOccurs="1" name="rFQNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="bigText" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnBLOBRfQDocument_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="bigText" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnDownloadRfQPTDoc">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="FnDownloadRfQPTDoc_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="FnSupplierRegistration">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="businessType" type="string" />
            <element minOccurs="1" maxOccurs="1" name="vendorType" type="int" />
            <element minOccurs="1" maxOccurs="1" name="ownershipType" type="int" />
            <element minOccurs="1" maxOccurs="1" name="industryGroup" type="string" />
            <element minOccurs="1" maxOccurs="1" name="postacode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="countryofOrigin" type="string" />
            <element minOccurs="1" maxOccurs="1" name="companysize" type="string" />
            <element minOccurs="1" maxOccurs="1" name="nominalCap" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="dealerType" type="int" />
            <element minOccurs="1" maxOccurs="1" name="dateofIncorporation" type="date" />
            <element minOccurs="1" maxOccurs="1" name="dateofOps" type="date" />
            <element minOccurs="1" maxOccurs="1" name="languageCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="vision" type="string" />
            <element minOccurs="1" maxOccurs="1" name="mision" type="string" />
            <element minOccurs="1" maxOccurs="1" name="poAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="locationAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="postaCity" type="string" />
            <element minOccurs="1" maxOccurs="1" name="webUrl" type="string" />
            <element minOccurs="1" maxOccurs="1" name="telephoneNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="buildingNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="floorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="plotNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="streetorRoad" type="string" />
            <element minOccurs="1" maxOccurs="1" name="faxNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="maxbizvalue" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="mobileNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="natureofBiz" type="string" />
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="certofIncopNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnSupplierRegistration_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertBank">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="bankCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="bankName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="currencyCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="bankAccountNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertBank_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnDeleteBank">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="bankCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="bankName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="currencyCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="bankAccountNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnDeleteBank_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertDirector">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="phoneNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="ownershippercentage" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="country" type="string" />
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
            <element minOccurs="1" maxOccurs="1" name="address" type="string" />
            <element minOccurs="1" maxOccurs="1" name="directorFullname" type="string" />
            <element minOccurs="1" maxOccurs="1" name="idNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="citizenType" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertDirector_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertLitigationH">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="disputeDescription" type="string" />
            <element minOccurs="1" maxOccurs="1" name="categoryofDispute" type="int" />
            <element minOccurs="1" maxOccurs="1" name="year" type="string" />
            <element minOccurs="1" maxOccurs="1" name="theotherDisputeparty" type="string" />
            <element minOccurs="1" maxOccurs="1" name="disputeAmount" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="awardType" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertLitigationH_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertSpecialGrp">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendoNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="specialGrpcatg" type="string" />
            <element minOccurs="1" maxOccurs="1" name="certficateNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="certeffectiveDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="certXpiryDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="prodservCategory" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertSpecialGrp_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertPastXep">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="clientName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="address" type="string" />
            <element minOccurs="1" maxOccurs="1" name="assignmentProject" type="string" />
            <element minOccurs="1" maxOccurs="1" name="projectScope" type="string" />
            <element minOccurs="1" maxOccurs="1" name="projectStartDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="projectEndDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="projectValue" type="decimal" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertPastXep_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertBalanceSheet">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="yearCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="totalCurrentAssets" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="totalFixedAssets" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="totalCurrentLiability" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="totalLongtermliabilty" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="totalOwnersequity" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertBalanceSheet_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertIncomestatement">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="yearCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="totalRevenue" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="totaCostofsoldgoods" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="totaOperatingexpenses" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="othernoneOperevenue" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="interestExpense" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertIncomestatement_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertFiledetails">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="procDoctype" type="string" />
            <element minOccurs="1" maxOccurs="1" name="docdescription" type="string" />
            <element minOccurs="1" maxOccurs="1" name="certNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="issuedDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="expiryDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="fileName" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertFiledetails_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertStaffEntry">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="staffName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="profession" type="string" />
            <element minOccurs="1" maxOccurs="1" name="designation" type="string" />
            <element minOccurs="1" maxOccurs="1" name="phoneNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="nationality" type="string" />
            <element minOccurs="1" maxOccurs="1" name="dateofBirth" type="date" />
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
            <element minOccurs="1" maxOccurs="1" name="joiningDate" type="date" />
            <element minOccurs="1" maxOccurs="1" name="yearsWithFirm" type="decimal" />
            <element minOccurs="1" maxOccurs="1" name="staffNumber" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertStaffEntry_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertStaffQlfEntry">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="staffNIDorNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="qualifCategory" type="int" />
            <element minOccurs="1" maxOccurs="1" name="qualifcName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="institution" type="string" />
            <element minOccurs="1" maxOccurs="1" name="startYear" type="string" />
            <element minOccurs="1" maxOccurs="1" name="endYear" type="string" />
            <element minOccurs="1" maxOccurs="1" name="outstandingAchievement" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertStaffQlfEntry_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertStaffXPrEntry">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="staffNIDorNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="xPrCategory" type="int" />
            <element minOccurs="1" maxOccurs="1" name="xPrSummarry" type="string" />
            <element minOccurs="1" maxOccurs="1" name="assignmentDescription" type="string" />
            <element minOccurs="1" maxOccurs="1" name="startYear" type="string" />
            <element minOccurs="1" maxOccurs="1" name="endYear" type="string" />
            <element minOccurs="1" maxOccurs="1" name="yrsofXpr" type="decimal" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertStaffXPrEntry_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnCompleteSupplierReg">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnCompleteSupplierReg_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnGetOwnerPercentage">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnGetOwnerPercentage_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertRFIresponseHeader">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="rfiDocumentNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertRFIresponseHeader_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnGetLastDocumentNo">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="rfiDocumentNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnGetLastDocumentNo_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertRFIResponseLines">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="documentNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="procurementCategory" type="string" />
            <element minOccurs="1" maxOccurs="1" name="rfiDocumentNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnInsertRFIResponseLines_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnSubmitResponseFinal">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="vendorNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="rfiDocumentNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="repFullname" type="string" />
            <element minOccurs="1" maxOccurs="1" name="repDesignation" type="string" />
            <element minOccurs="1" maxOccurs="1" name="rfiApplNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnSubmitResponseFinal_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="FnRegisterVendor">
    <part name="parameters" element="tns:FnRegisterVendor" />
  </message>
  <message name="FnRegisterVendor_Result">
    <part name="parameters" element="tns:FnRegisterVendor_Result" />
  </message>
  <message name="ResetPass">
    <part name="parameters" element="tns:ResetPass" />
  </message>
  <message name="ResetPass_Result">
    <part name="parameters" element="tns:ResetPass_Result" />
  </message>
  <message name="FnApplyPreQualification">
    <part name="parameters" element="tns:FnApplyPreQualification" />
  </message>
  <message name="FnApplyPreQualification_Result">
    <part name="parameters" element="tns:FnApplyPreQualification_Result" />
  </message>
  <message name="GetCurrentYear">
    <part name="parameters" element="tns:GetCurrentYear" />
  </message>
  <message name="GetCurrentYear_Result">
    <part name="parameters" element="tns:GetCurrentYear_Result" />
  </message>
  <message name="FnApplyRFQ">
    <part name="parameters" element="tns:FnApplyRFQ" />
  </message>
  <message name="FnApplyRFQ_Result">
    <part name="parameters" element="tns:FnApplyRFQ_Result" />
  </message>
  <message name="ApplyRFQOLD">
    <part name="parameters" element="tns:ApplyRFQOLD" />
  </message>
  <message name="ApplyRFQOLD_Result">
    <part name="parameters" element="tns:ApplyRFQOLD_Result" />
  </message>
  <message name="SendEmail">
    <part name="parameters" element="tns:SendEmail" />
  </message>
  <message name="SendEmail_Result">
    <part name="parameters" element="tns:SendEmail_Result" />
  </message>
  <message name="ActivateAccount">
    <part name="parameters" element="tns:ActivateAccount" />
  </message>
  <message name="ActivateAccount_Result">
    <part name="parameters" element="tns:ActivateAccount_Result" />
  </message>
  <message name="FnAddDirectors">
    <part name="parameters" element="tns:FnAddDirectors" />
  </message>
  <message name="FnAddDirectors_Result">
    <part name="parameters" element="tns:FnAddDirectors_Result" />
  </message>
  <message name="FnApplyforTender">
    <part name="parameters" element="tns:FnApplyforTender" />
  </message>
  <message name="FnApplyforTender_Result">
    <part name="parameters" element="tns:FnApplyforTender_Result" />
  </message>
  <message name="FnCountOpenTenders">
    <part name="parameters" element="tns:FnCountOpenTenders" />
  </message>
  <message name="FnCountOpenTenders_Result">
    <part name="parameters" element="tns:FnCountOpenTenders_Result" />
  </message>
  <message name="FnCountAppliedTenders">
    <part name="parameters" element="tns:FnCountAppliedTenders" />
  </message>
  <message name="FnCountAppliedTenders_Result">
    <part name="parameters" element="tns:FnCountAppliedTenders_Result" />
  </message>
  <message name="FnCountTendersAwarded">
    <part name="parameters" element="tns:FnCountTendersAwarded" />
  </message>
  <message name="FnCountTendersAwarded_Result">
    <part name="parameters" element="tns:FnCountTendersAwarded_Result" />
  </message>
  <message name="FnApplyforOpenTender">
    <part name="parameters" element="tns:FnApplyforOpenTender" />
  </message>
  <message name="FnApplyforOpenTender_Result">
    <part name="parameters" element="tns:FnApplyforOpenTender_Result" />
  </message>
  <message name="FnInsertBlog">
    <part name="parameters" element="tns:FnInsertBlog" />
  </message>
  <message name="FnInsertBlog_Result">
    <part name="parameters" element="tns:FnInsertBlog_Result" />
  </message>
  <message name="FnInsertBlogReply">
    <part name="parameters" element="tns:FnInsertBlogReply" />
  </message>
  <message name="FnInsertBlogReply_Result">
    <part name="parameters" element="tns:FnInsertBlogReply_Result" />
  </message>
  <message name="FnChangePassword">
    <part name="parameters" element="tns:FnChangePassword" />
  </message>
  <message name="FnChangePassword_Result">
    <part name="parameters" element="tns:FnChangePassword_Result" />
  </message>
  <message name="FnEditProfile">
    <part name="parameters" element="tns:FnEditProfile" />
  </message>
  <message name="FnEditProfile_Result">
    <part name="parameters" element="tns:FnEditProfile_Result" />
  </message>
  <message name="FnResetPassword">
    <part name="parameters" element="tns:FnResetPassword" />
  </message>
  <message name="FnResetPassword_Result">
    <part name="parameters" element="tns:FnResetPassword_Result" />
  </message>
  <message name="FnGenerateVendorstatement">
    <part name="parameters" element="tns:FnGenerateVendorstatement" />
  </message>
  <message name="FnGenerateVendorstatement_Result">
    <part name="parameters" element="tns:FnGenerateVendorstatement_Result" />
  </message>
  <message name="FnGenerateRfQDocument">
    <part name="parameters" element="tns:FnGenerateRfQDocument" />
  </message>
  <message name="FnGenerateRfQDocument_Result">
    <part name="parameters" element="tns:FnGenerateRfQDocument_Result" />
  </message>
  <message name="FnAddPurchaseReqLine">
    <part name="parameters" element="tns:FnAddPurchaseReqLine" />
  </message>
  <message name="FnAddPurchaseReqLine_Result">
    <part name="parameters" element="tns:FnAddPurchaseReqLine_Result" />
  </message>
  <message name="FnReqforRegistration">
    <part name="parameters" element="tns:FnReqforRegistration" />
  </message>
  <message name="FnReqforRegistration_Result">
    <part name="parameters" element="tns:FnReqforRegistration_Result" />
  </message>
  <message name="FnBLOBRfQDocument">
    <part name="parameters" element="tns:FnBLOBRfQDocument" />
  </message>
  <message name="FnBLOBRfQDocument_Result">
    <part name="parameters" element="tns:FnBLOBRfQDocument_Result" />
  </message>
  <message name="FnDownloadRfQPTDoc">
    <part name="parameters" element="tns:FnDownloadRfQPTDoc" />
  </message>
  <message name="FnDownloadRfQPTDoc_Result">
    <part name="parameters" element="tns:FnDownloadRfQPTDoc_Result" />
  </message>
  <message name="FnSupplierRegistration">
    <part name="parameters" element="tns:FnSupplierRegistration" />
  </message>
  <message name="FnSupplierRegistration_Result">
    <part name="parameters" element="tns:FnSupplierRegistration_Result" />
  </message>
  <message name="FnInsertBank">
    <part name="parameters" element="tns:FnInsertBank" />
  </message>
  <message name="FnInsertBank_Result">
    <part name="parameters" element="tns:FnInsertBank_Result" />
  </message>
  <message name="FnDeleteBank">
    <part name="parameters" element="tns:FnDeleteBank" />
  </message>
  <message name="FnDeleteBank_Result">
    <part name="parameters" element="tns:FnDeleteBank_Result" />
  </message>
  <message name="FnInsertDirector">
    <part name="parameters" element="tns:FnInsertDirector" />
  </message>
  <message name="FnInsertDirector_Result">
    <part name="parameters" element="tns:FnInsertDirector_Result" />
  </message>
  <message name="FnInsertLitigationH">
    <part name="parameters" element="tns:FnInsertLitigationH" />
  </message>
  <message name="FnInsertLitigationH_Result">
    <part name="parameters" element="tns:FnInsertLitigationH_Result" />
  </message>
  <message name="FnInsertSpecialGrp">
    <part name="parameters" element="tns:FnInsertSpecialGrp" />
  </message>
  <message name="FnInsertSpecialGrp_Result">
    <part name="parameters" element="tns:FnInsertSpecialGrp_Result" />
  </message>
  <message name="FnInsertPastXep">
    <part name="parameters" element="tns:FnInsertPastXep" />
  </message>
  <message name="FnInsertPastXep_Result">
    <part name="parameters" element="tns:FnInsertPastXep_Result" />
  </message>
  <message name="FnInsertBalanceSheet">
    <part name="parameters" element="tns:FnInsertBalanceSheet" />
  </message>
  <message name="FnInsertBalanceSheet_Result">
    <part name="parameters" element="tns:FnInsertBalanceSheet_Result" />
  </message>
  <message name="FnInsertIncomestatement">
    <part name="parameters" element="tns:FnInsertIncomestatement" />
  </message>
  <message name="FnInsertIncomestatement_Result">
    <part name="parameters" element="tns:FnInsertIncomestatement_Result" />
  </message>
  <message name="FnInsertFiledetails">
    <part name="parameters" element="tns:FnInsertFiledetails" />
  </message>
  <message name="FnInsertFiledetails_Result">
    <part name="parameters" element="tns:FnInsertFiledetails_Result" />
  </message>
  <message name="FnInsertStaffEntry">
    <part name="parameters" element="tns:FnInsertStaffEntry" />
  </message>
  <message name="FnInsertStaffEntry_Result">
    <part name="parameters" element="tns:FnInsertStaffEntry_Result" />
  </message>
  <message name="FnInsertStaffQlfEntry">
    <part name="parameters" element="tns:FnInsertStaffQlfEntry" />
  </message>
  <message name="FnInsertStaffQlfEntry_Result">
    <part name="parameters" element="tns:FnInsertStaffQlfEntry_Result" />
  </message>
  <message name="FnInsertStaffXPrEntry">
    <part name="parameters" element="tns:FnInsertStaffXPrEntry" />
  </message>
  <message name="FnInsertStaffXPrEntry_Result">
    <part name="parameters" element="tns:FnInsertStaffXPrEntry_Result" />
  </message>
  <message name="FnCompleteSupplierReg">
    <part name="parameters" element="tns:FnCompleteSupplierReg" />
  </message>
  <message name="FnCompleteSupplierReg_Result">
    <part name="parameters" element="tns:FnCompleteSupplierReg_Result" />
  </message>
  <message name="FnGetOwnerPercentage">
    <part name="parameters" element="tns:FnGetOwnerPercentage" />
  </message>
  <message name="FnGetOwnerPercentage_Result">
    <part name="parameters" element="tns:FnGetOwnerPercentage_Result" />
  </message>
  <message name="FnInsertRFIresponseHeader">
    <part name="parameters" element="tns:FnInsertRFIresponseHeader" />
  </message>
  <message name="FnInsertRFIresponseHeader_Result">
    <part name="parameters" element="tns:FnInsertRFIresponseHeader_Result" />
  </message>
  <message name="FnGetLastDocumentNo">
    <part name="parameters" element="tns:FnGetLastDocumentNo" />
  </message>
  <message name="FnGetLastDocumentNo_Result">
    <part name="parameters" element="tns:FnGetLastDocumentNo_Result" />
  </message>
  <message name="FnInsertRFIResponseLines">
    <part name="parameters" element="tns:FnInsertRFIResponseLines" />
  </message>
  <message name="FnInsertRFIResponseLines_Result">
    <part name="parameters" element="tns:FnInsertRFIResponseLines_Result" />
  </message>
  <message name="FnSubmitResponseFinal">
    <part name="parameters" element="tns:FnSubmitResponseFinal" />
  </message>
  <message name="FnSubmitResponseFinal_Result">
    <part name="parameters" element="tns:FnSubmitResponseFinal_Result" />
  </message>
  <portType name="eprocurement_Port">
    <operation name="FnRegisterVendor">
      <input name="FnRegisterVendor" message="tns:FnRegisterVendor" />
      <output name="FnRegisterVendor_Result" message="tns:FnRegisterVendor_Result" />
    </operation>
    <operation name="ResetPass">
      <input name="ResetPass" message="tns:ResetPass" />
      <output name="ResetPass_Result" message="tns:ResetPass_Result" />
    </operation>
    <operation name="FnApplyPreQualification">
      <input name="FnApplyPreQualification" message="tns:FnApplyPreQualification" />
      <output name="FnApplyPreQualification_Result" message="tns:FnApplyPreQualification_Result" />
    </operation>
    <operation name="GetCurrentYear">
      <input name="GetCurrentYear" message="tns:GetCurrentYear" />
      <output name="GetCurrentYear_Result" message="tns:GetCurrentYear_Result" />
    </operation>
    <operation name="FnApplyRFQ">
      <input name="FnApplyRFQ" message="tns:FnApplyRFQ" />
      <output name="FnApplyRFQ_Result" message="tns:FnApplyRFQ_Result" />
    </operation>
    <operation name="ApplyRFQOLD">
      <input name="ApplyRFQOLD" message="tns:ApplyRFQOLD" />
      <output name="ApplyRFQOLD_Result" message="tns:ApplyRFQOLD_Result" />
    </operation>
    <operation name="SendEmail">
      <input name="SendEmail" message="tns:SendEmail" />
      <output name="SendEmail_Result" message="tns:SendEmail_Result" />
    </operation>
    <operation name="ActivateAccount">
      <input name="ActivateAccount" message="tns:ActivateAccount" />
      <output name="ActivateAccount_Result" message="tns:ActivateAccount_Result" />
    </operation>
    <operation name="FnAddDirectors">
      <input name="FnAddDirectors" message="tns:FnAddDirectors" />
      <output name="FnAddDirectors_Result" message="tns:FnAddDirectors_Result" />
    </operation>
    <operation name="FnApplyforTender">
      <input name="FnApplyforTender" message="tns:FnApplyforTender" />
      <output name="FnApplyforTender_Result" message="tns:FnApplyforTender_Result" />
    </operation>
    <operation name="FnCountOpenTenders">
      <input name="FnCountOpenTenders" message="tns:FnCountOpenTenders" />
      <output name="FnCountOpenTenders_Result" message="tns:FnCountOpenTenders_Result" />
    </operation>
    <operation name="FnCountAppliedTenders">
      <input name="FnCountAppliedTenders" message="tns:FnCountAppliedTenders" />
      <output name="FnCountAppliedTenders_Result" message="tns:FnCountAppliedTenders_Result" />
    </operation>
    <operation name="FnCountTendersAwarded">
      <input name="FnCountTendersAwarded" message="tns:FnCountTendersAwarded" />
      <output name="FnCountTendersAwarded_Result" message="tns:FnCountTendersAwarded_Result" />
    </operation>
    <operation name="FnApplyforOpenTender">
      <input name="FnApplyforOpenTender" message="tns:FnApplyforOpenTender" />
      <output name="FnApplyforOpenTender_Result" message="tns:FnApplyforOpenTender_Result" />
    </operation>
    <operation name="FnInsertBlog">
      <input name="FnInsertBlog" message="tns:FnInsertBlog" />
      <output name="FnInsertBlog_Result" message="tns:FnInsertBlog_Result" />
    </operation>
    <operation name="FnInsertBlogReply">
      <input name="FnInsertBlogReply" message="tns:FnInsertBlogReply" />
      <output name="FnInsertBlogReply_Result" message="tns:FnInsertBlogReply_Result" />
    </operation>
    <operation name="FnChangePassword">
      <input name="FnChangePassword" message="tns:FnChangePassword" />
      <output name="FnChangePassword_Result" message="tns:FnChangePassword_Result" />
    </operation>
    <operation name="FnEditProfile">
      <input name="FnEditProfile" message="tns:FnEditProfile" />
      <output name="FnEditProfile_Result" message="tns:FnEditProfile_Result" />
    </operation>
    <operation name="FnResetPassword">
      <input name="FnResetPassword" message="tns:FnResetPassword" />
      <output name="FnResetPassword_Result" message="tns:FnResetPassword_Result" />
    </operation>
    <operation name="FnGenerateVendorstatement">
      <input name="FnGenerateVendorstatement" message="tns:FnGenerateVendorstatement" />
      <output name="FnGenerateVendorstatement_Result" message="tns:FnGenerateVendorstatement_Result" />
    </operation>
    <operation name="FnGenerateRfQDocument">
      <input name="FnGenerateRfQDocument" message="tns:FnGenerateRfQDocument" />
      <output name="FnGenerateRfQDocument_Result" message="tns:FnGenerateRfQDocument_Result" />
    </operation>
    <operation name="FnAddPurchaseReqLine">
      <input name="FnAddPurchaseReqLine" message="tns:FnAddPurchaseReqLine" />
      <output name="FnAddPurchaseReqLine_Result" message="tns:FnAddPurchaseReqLine_Result" />
    </operation>
    <operation name="FnReqforRegistration">
      <input name="FnReqforRegistration" message="tns:FnReqforRegistration" />
      <output name="FnReqforRegistration_Result" message="tns:FnReqforRegistration_Result" />
    </operation>
    <operation name="FnBLOBRfQDocument">
      <input name="FnBLOBRfQDocument" message="tns:FnBLOBRfQDocument" />
      <output name="FnBLOBRfQDocument_Result" message="tns:FnBLOBRfQDocument_Result" />
    </operation>
    <operation name="FnDownloadRfQPTDoc">
      <input name="FnDownloadRfQPTDoc" message="tns:FnDownloadRfQPTDoc" />
      <output name="FnDownloadRfQPTDoc_Result" message="tns:FnDownloadRfQPTDoc_Result" />
    </operation>
    <operation name="FnSupplierRegistration">
      <input name="FnSupplierRegistration" message="tns:FnSupplierRegistration" />
      <output name="FnSupplierRegistration_Result" message="tns:FnSupplierRegistration_Result" />
    </operation>
    <operation name="FnInsertBank">
      <input name="FnInsertBank" message="tns:FnInsertBank" />
      <output name="FnInsertBank_Result" message="tns:FnInsertBank_Result" />
    </operation>
    <operation name="FnDeleteBank">
      <input name="FnDeleteBank" message="tns:FnDeleteBank" />
      <output name="FnDeleteBank_Result" message="tns:FnDeleteBank_Result" />
    </operation>
    <operation name="FnInsertDirector">
      <input name="FnInsertDirector" message="tns:FnInsertDirector" />
      <output name="FnInsertDirector_Result" message="tns:FnInsertDirector_Result" />
    </operation>
    <operation name="FnInsertLitigationH">
      <input name="FnInsertLitigationH" message="tns:FnInsertLitigationH" />
      <output name="FnInsertLitigationH_Result" message="tns:FnInsertLitigationH_Result" />
    </operation>
    <operation name="FnInsertSpecialGrp">
      <input name="FnInsertSpecialGrp" message="tns:FnInsertSpecialGrp" />
      <output name="FnInsertSpecialGrp_Result" message="tns:FnInsertSpecialGrp_Result" />
    </operation>
    <operation name="FnInsertPastXep">
      <input name="FnInsertPastXep" message="tns:FnInsertPastXep" />
      <output name="FnInsertPastXep_Result" message="tns:FnInsertPastXep_Result" />
    </operation>
    <operation name="FnInsertBalanceSheet">
      <input name="FnInsertBalanceSheet" message="tns:FnInsertBalanceSheet" />
      <output name="FnInsertBalanceSheet_Result" message="tns:FnInsertBalanceSheet_Result" />
    </operation>
    <operation name="FnInsertIncomestatement">
      <input name="FnInsertIncomestatement" message="tns:FnInsertIncomestatement" />
      <output name="FnInsertIncomestatement_Result" message="tns:FnInsertIncomestatement_Result" />
    </operation>
    <operation name="FnInsertFiledetails">
      <input name="FnInsertFiledetails" message="tns:FnInsertFiledetails" />
      <output name="FnInsertFiledetails_Result" message="tns:FnInsertFiledetails_Result" />
    </operation>
    <operation name="FnInsertStaffEntry">
      <input name="FnInsertStaffEntry" message="tns:FnInsertStaffEntry" />
      <output name="FnInsertStaffEntry_Result" message="tns:FnInsertStaffEntry_Result" />
    </operation>
    <operation name="FnInsertStaffQlfEntry">
      <input name="FnInsertStaffQlfEntry" message="tns:FnInsertStaffQlfEntry" />
      <output name="FnInsertStaffQlfEntry_Result" message="tns:FnInsertStaffQlfEntry_Result" />
    </operation>
    <operation name="FnInsertStaffXPrEntry">
      <input name="FnInsertStaffXPrEntry" message="tns:FnInsertStaffXPrEntry" />
      <output name="FnInsertStaffXPrEntry_Result" message="tns:FnInsertStaffXPrEntry_Result" />
    </operation>
    <operation name="FnCompleteSupplierReg">
      <input name="FnCompleteSupplierReg" message="tns:FnCompleteSupplierReg" />
      <output name="FnCompleteSupplierReg_Result" message="tns:FnCompleteSupplierReg_Result" />
    </operation>
    <operation name="FnGetOwnerPercentage">
      <input name="FnGetOwnerPercentage" message="tns:FnGetOwnerPercentage" />
      <output name="FnGetOwnerPercentage_Result" message="tns:FnGetOwnerPercentage_Result" />
    </operation>
    <operation name="FnInsertRFIresponseHeader">
      <input name="FnInsertRFIresponseHeader" message="tns:FnInsertRFIresponseHeader" />
      <output name="FnInsertRFIresponseHeader_Result" message="tns:FnInsertRFIresponseHeader_Result" />
    </operation>
    <operation name="FnGetLastDocumentNo">
      <input name="FnGetLastDocumentNo" message="tns:FnGetLastDocumentNo" />
      <output name="FnGetLastDocumentNo_Result" message="tns:FnGetLastDocumentNo_Result" />
    </operation>
    <operation name="FnInsertRFIResponseLines">
      <input name="FnInsertRFIResponseLines" message="tns:FnInsertRFIResponseLines" />
      <output name="FnInsertRFIResponseLines_Result" message="tns:FnInsertRFIResponseLines_Result" />
    </operation>
    <operation name="FnSubmitResponseFinal">
      <input name="FnSubmitResponseFinal" message="tns:FnSubmitResponseFinal" />
      <output name="FnSubmitResponseFinal_Result" message="tns:FnSubmitResponseFinal_Result" />
    </operation>
  </portType>
  <binding name="eprocurement_Binding" type="tns:eprocurement_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="FnRegisterVendor">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnRegisterVendor" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnRegisterVendor">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnRegisterVendor_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ResetPass">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:ResetPass" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ResetPass">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ResetPass_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnApplyPreQualification">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnApplyPreQualification" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnApplyPreQualification">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnApplyPreQualification_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetCurrentYear">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:GetCurrentYear" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetCurrentYear">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetCurrentYear_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnApplyRFQ">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnApplyRFQ" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnApplyRFQ">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnApplyRFQ_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ApplyRFQOLD">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:ApplyRFQOLD" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ApplyRFQOLD">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ApplyRFQOLD_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SendEmail">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:SendEmail" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SendEmail">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SendEmail_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ActivateAccount">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:ActivateAccount" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ActivateAccount">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ActivateAccount_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnAddDirectors">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnAddDirectors" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnAddDirectors">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnAddDirectors_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnApplyforTender">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnApplyforTender" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnApplyforTender">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnApplyforTender_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnCountOpenTenders">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnCountOpenTenders" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnCountOpenTenders">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnCountOpenTenders_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnCountAppliedTenders">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnCountAppliedTenders" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnCountAppliedTenders">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnCountAppliedTenders_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnCountTendersAwarded">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnCountTendersAwarded" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnCountTendersAwarded">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnCountTendersAwarded_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnApplyforOpenTender">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnApplyforOpenTender" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnApplyforOpenTender">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnApplyforOpenTender_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertBlog">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnInsertBlog" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertBlog">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertBlog_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertBlogReply">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnInsertBlogReply" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertBlogReply">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertBlogReply_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnChangePassword">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnChangePassword" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnChangePassword">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnChangePassword_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnEditProfile">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnEditProfile" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnEditProfile">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnEditProfile_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnResetPassword">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnResetPassword" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnResetPassword">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnResetPassword_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnGenerateVendorstatement">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnGenerateVendorstatement" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnGenerateVendorstatement">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnGenerateVendorstatement_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnGenerateRfQDocument">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnGenerateRfQDocument" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnGenerateRfQDocument">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnGenerateRfQDocument_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnAddPurchaseReqLine">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnAddPurchaseReqLine" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnAddPurchaseReqLine">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnAddPurchaseReqLine_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnReqforRegistration">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnReqforRegistration" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnReqforRegistration">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnReqforRegistration_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnBLOBRfQDocument">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnBLOBRfQDocument" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnBLOBRfQDocument">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnBLOBRfQDocument_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnDownloadRfQPTDoc">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnDownloadRfQPTDoc" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnDownloadRfQPTDoc">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnDownloadRfQPTDoc_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnSupplierRegistration">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnSupplierRegistration" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnSupplierRegistration">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnSupplierRegistration_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertBank">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnInsertBank" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertBank">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertBank_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnDeleteBank">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnDeleteBank" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnDeleteBank">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnDeleteBank_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertDirector">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnInsertDirector" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertDirector">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertDirector_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertLitigationH">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnInsertLitigationH" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertLitigationH">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertLitigationH_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertSpecialGrp">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnInsertSpecialGrp" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertSpecialGrp">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertSpecialGrp_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertPastXep">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnInsertPastXep" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertPastXep">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertPastXep_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertBalanceSheet">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnInsertBalanceSheet" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertBalanceSheet">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertBalanceSheet_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertIncomestatement">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnInsertIncomestatement" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertIncomestatement">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertIncomestatement_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertFiledetails">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnInsertFiledetails" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertFiledetails">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertFiledetails_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertStaffEntry">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnInsertStaffEntry" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertStaffEntry">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertStaffEntry_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertStaffQlfEntry">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnInsertStaffQlfEntry" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertStaffQlfEntry">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertStaffQlfEntry_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertStaffXPrEntry">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnInsertStaffXPrEntry" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertStaffXPrEntry">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertStaffXPrEntry_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnCompleteSupplierReg">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnCompleteSupplierReg" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnCompleteSupplierReg">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnCompleteSupplierReg_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnGetOwnerPercentage">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnGetOwnerPercentage" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnGetOwnerPercentage">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnGetOwnerPercentage_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertRFIresponseHeader">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnInsertRFIresponseHeader" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertRFIresponseHeader">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertRFIresponseHeader_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnGetLastDocumentNo">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnGetLastDocumentNo" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnGetLastDocumentNo">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnGetLastDocumentNo_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnInsertRFIResponseLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnInsertRFIResponseLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnInsertRFIResponseLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnInsertRFIResponseLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnSubmitResponseFinal">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/eprocurement:FnSubmitResponseFinal" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnSubmitResponseFinal">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnSubmitResponseFinal_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="eprocurement">
    <port name="eprocurement_Port" binding="tns:eprocurement_Binding">
      <address location="http://197.155.64.54:2023/Dev/WS/KeRRA/Codeunit/eprocurement" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>